@page "/bom/{_setId?}/{_setIndex?}"
@page "/bom/{_setId?}"
@page "/bom"
@inject ILoggerFactory LoggerFactory
@inject IDialogService DialogService
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@using System.Drawing
@using LEGO_Inventory.Components.Objects
@using LEGO_Inventory.Database
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size
@rendermode InteractiveServer

<PageTitle>@_pageTitle</PageTitle>

<h1>Bill of Materials</h1>

<MudGrid>
    <MudItem xs="3">
        <MudGrid>
            <MudItem xs="12">
                <MudSelect T="Set"
                           Variant="Variant.Outlined"
                           Dense="true"
                           Value="_set"
                           ValueChanged="ChangeSet">
                    @foreach (var set in _sets)
                    {
                        <MudSelectItem Value="@set">@set.SetId - @set.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            @if (_set != null)
            {
                <MudItem xs="12">
                    <MudSelect T="SetOwned"
                               Variant="Variant.Outlined"
                               Dense="true"
                               Value="_setsOwned.First(so => so.SetIndex == (_setIndex != null ? int.Parse(_setIndex) : 0))"
                               ValueChanged="ChangeIndex">
                        @foreach (var set in _setsOwned)
                        {
                            <MudSelectItem Value="@set">Owned Set Index: @set.SetIndex</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            }
        </MudGrid>
    </MudItem>
    @if (_set != null)
    {
        <MudItem xs="9" Style="height: 100%">
            <MudGrid>
                <MudItem xs="3">
                    <MudImage class="cursor-pointer rounded-2"
                              Elevation="2"
                              Src="@_set.SetImg"
                              Style="height: 150px;"
                              ObjectFit="ObjectFit.Contain"
                              @onclick="((e) => OpenImagePopup(_set.SetId, _set.Name, _set.SetImg))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudGrid xs="12">
                        <MudItem xs="12">
                            <MudText Align="Align.Center" Typo="Typo.h6">@_setId</MudText>
                        </MudItem>
                        <MudItem xs="12">
                            <MudText Align="Align.Center" Typo="Typo.h6">@_set.Name</MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="3">
                    <MudImage @onclick="() => OpenBuildingInstructions(_set.ManualUrl)"
                              class="cursor-pointer rounded-2"
                              Elevation="2"
                              Style="height: 150px"
                              ObjectFit="ObjectFit.Contain"
                              Src="https://logodownload.org/wp-content/uploads/2017/04/lego-logo.png"/>
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem xs="12">
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                @* Brick Tab *@
                <MudTabPanel Text="Bricks">
                    <MudDataGrid T="SetBrickInfo" Items="@_setBrickInfo.OrderBy(b => b.Brick.PartNum)"
                                 SortMode="@SortMode.Multiple" EditMode="DataGridEditMode.Cell"
                                 QuickFilter="SetBrickFilterFunc" CommittedItemChanges="@UpdateBrick"
                                 ReadOnly="false" Bordered="false">
                        <ToolBarContent>
                            <MudText Typo="Typo.body1">Missing
                                Pieces: @_setBrickInfo.Sum(sb => sb.SetBrick.Count - sb.SetBrick.Stock)
                            </MudText>
                            <MudSpacer/>
                            <MudSwitch 
                                @bind-Value="_showMissing" 
                                UncheckedColor="Color.Default" 
                                Color="Color.Error" 
                                Label="Show Missing"
                                LabelPlacement="Placement.Start"/>
                            <MudSpacer/>

                            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                                          Immediate="true" AdornmentIcon="@Icons.Material.Filled.Search"
                                          IconSize="Size.Medium"
                                          Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <Columns>
                            <TemplateColumn Title="Image" Editable="false">
                                <CellTemplate>
                                    <MudStack Row>
                                        <MudImage class="cursor-pointer rounded-3" Elevation="2"
                                                  Src="@context.Item.Brick.PartImg" Height="50"
                                                  @onclick="((e) => OpenImagePopup(context.Item.Brick.PartNum, context.Item.Brick.Name, context.Item.Brick.PartImg))"/>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Property="x => x.Brick.PartNum" Title="Brick Id" Editable="false"/>
                            <PropertyColumn Property="x => x.Brick.Name" Title="Name" Editable="false"/>
                            <TemplateColumn Title="Color" SortBy="x => x.Brick.ColorId" Sortable="true"
                                            Editable="false">
                                <CellTemplate>
                                    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.Center">
                                        @if (context.Item.Brick.HexColor != null)
                                        {
                                            @if (IsDark(context.Item.Brick.HexColor))
                                            {
                                                <MudChip
                                                    OnClick="() => OpenColorPopup(context.Item.Brick.HexColor, context.Item.Brick.ColorName)"
                                                    class="mud-elevation-2"
                                                    Style="@($"background-color: {"#" + context.Item.Brick.HexColor}; width: -moz-available;")">@context.Item.Brick.ColorName</MudChip>
                                            }
                                            else
                                            {
                                                <MudChip
                                                    OnClick="() => OpenColorPopup(context.Item.Brick.HexColor, context.Item.Brick.ColorName)"
                                                    class="mud-elevation-2"
                                                    Style="@($"background-color: {"#" + context.Item.Brick.HexColor}; color: #202020; width: -moz-available;")">@context.Item.Brick.ColorName</MudChip>
                                            }
                                        }
                                        else
                                        {
                                            <MudChip Color="default">N/A</MudChip>
                                        }
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <TemplateColumn Title="Need (Spare)" Editable="false"
                                            SortBy="x => x.SetBrick.Count + x.SetBrick.SpareCount" Sortable="true">
                                <CellTemplate>
                                    <MudStack Row Spacing="1">
                                        @if (context.Item.SetBrick.Count <= context.Item.SetBrick.Stock)
                                        {
                                            <MudText Color="@Color.Success">@context.Item.SetBrick.Count</MudText>
                                        }
                                        else if (context.Item.SetBrick.Count - context.Item.SetBrick.Stock <= context.Item.Brick.Count)
                                        {
                                            <MudText Color="@Color.Warning">@context.Item.SetBrick.Count</MudText>
                                        }
                                        else
                                        {
                                            <MudText Color="@Color.Error">@context.Item.SetBrick.Count</MudText>
                                        }
                                        @if (context.Item.SetBrick.SpareCount > 0)
                                        {
                                            <MudText Style="padding: -10px">(@context.Item.SetBrick.SpareCount)
                                            </MudText>
                                        }
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Title="Stock Used" Property="x => x.SetBrick.Stock" Editable="true"
                                            SortBy="x => x.SetBrick.Stock"/>
                            <TemplateColumn Title="Move Stock" Editable="false">
                                <CellTemplate>
                                    <MudStack Row Spacing="0">
                                        <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
                                                       OnClick="() => MoveBrickStock(Direction.left, context.Item)"/>
                                        <MudNumericField Variant="Variant.Outlined" Min="0"
                                                         @bind-Value="context.Item.MoveCount"></MudNumericField>
                                        <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
                                                       OnClick="() => MoveBrickStock(Direction.right, context.Item)"/>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Property="x => x.Brick.Count" Title="Stock" Editable="true"/>
                        </Columns>
                        <PagerContent>
                            <MudDataGridPager T="SetBrickInfo"/>
                        </PagerContent>
                    </MudDataGrid>
                </MudTabPanel>

                @* Minifigure Tab *@
                <MudTabPanel Text="Minifigures" Disabled="@(_setMinifigInfo.Count == 0)">
                    <MudDataGrid T="SetMinifigInfo" Items="@_setMinifigInfo.OrderBy(b => b.Minifig.MinifigId)"
                                 SortMode="@SortMode.Multiple" EditMode="DataGridEditMode.Cell"
                                 QuickFilter="SetMinifigFilterFunc" CommittedItemChanges="@UpdateMinifig"
                                 ReadOnly="false">
                        <ToolBarContent>
                            <MudSpacer/>
                            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                                          Immediate="true" AdornmentIcon="@Icons.Material.Filled.Search"
                                          IconSize="Size.Medium"
                                          Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <Columns>
                            <HierarchyColumn/>
                            <TemplateColumn Title="Image" Editable="false">
                                <CellTemplate>
                                    <MudStack Row>
                                        <MudImage class="cursor-pointer rounded-2" Elevation="2"
                                                  Src="@context.Item.Minifig.MinifigImgUrl" Height="50"
                                                  @onclick="((e) => OpenImagePopup(context.Item.Minifig.MinifigId, context.Item.Minifig.MinifigName, context.Item.Minifig.MinifigImgUrl))"/>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Property="x => x.Minifig.MinifigId" Title="Minifig Id" Editable="false"/>
                            <PropertyColumn Property="x => x.Minifig.MinifigName" Title="Name" Editable="false"/>
                            <TemplateColumn Title="Need" Editable="false" SortBy="x => x.SetMinifig.Count"
                                            Sortable="true">
                                <CellTemplate>
                                    <MudStack Row Spacing="1">
                                        @if (context.Item.SetMinifig.Count <= context.Item.SetMinifig.Stock)
                                        {
                                            <MudText Color="@Color.Success">@context.Item.SetMinifig.Count</MudText>
                                        }
                                        else if (context.Item.SetMinifig.Count - context.Item.SetMinifig.Stock <= context.Item.Minifig.Stock)
                                        {
                                            <MudText Color="@Color.Warning">@context.Item.SetMinifig.Count</MudText>
                                        }
                                        else
                                        {
                                            <MudText Color="@Color.Error">@context.Item.SetMinifig.Count</MudText>
                                        }
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Title="Stock Used" Property="x => x.SetMinifig.Stock" Editable="true"
                                            SortBy="x => x.SetMinifig.Stock"/>
                            <TemplateColumn Title="Move Stock" Editable="false">
                                <CellTemplate>
                                    <MudStack Row Spacing="0">
                                        <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
                                                       OnClick="() => MoveMinifigStock(Direction.left, context.Item)"/>
                                        <MudNumericField Variant="Variant.Outlined" Min="0"
                                                         @bind-Value="context.Item.MoveCount"></MudNumericField>
                                        <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
                                                       OnClick="() => MoveMinifigStock(Direction.right, context.Item)"/>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Property="x => x.Minifig.Stock" Title="Stock" Editable="true"/>
                        </Columns>

                        <ChildRowContent Context="minifigContext">
                            <MudCard>
                                <MudDataGrid T="SetBrickInfo" Items="GetMinifigBricks(minifigContext.Item.Minifig)">
                                    <Columns>
                                        <TemplateColumn Title="Image">
                                            <CellTemplate>
                                                <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.Center">
                                                    <MudImage class="cursor-pointer rounded-3" Elevation="2"
                                                              Src="@context.Item.Brick.PartImg" Height="50"
                                                              @onclick="((e) => OpenImagePopup(context.Item.Brick.PartNum, context.Item.Brick.Name, context.Item.Brick.PartImg))"/>
                                                </MudStack>
                                            </CellTemplate>
                                        </TemplateColumn>
                                        <PropertyColumn Title="Brick Id" Property="x => x.Brick.PartNum"/>
                                        <PropertyColumn Title="Name" Property="x => x.Brick.Name"/>
                                        <TemplateColumn Title="Need" Editable="false"
                                                        SortBy="x => x.SetBrick.Count + x.SetBrick.SpareCount"
                                                        Sortable="true">
                                            <CellTemplate>
                                                <MudStack Row Spacing="1">
                                                    @if (context.Item.SetBrick.Count <= context.Item.SetBrick.Stock)
                                                    {
                                                        <MudText
                                                            Color="@Color.Success">@context.Item.SetBrick.Count</MudText>
                                                    }
                                                    else if (context.Item.SetBrick.Count - context.Item.SetBrick.Stock <= context.Item.Brick.Count)
                                                    {
                                                        <MudText
                                                            Color="@Color.Warning">@context.Item.SetBrick.Count</MudText>
                                                    }
                                                    else
                                                    {
                                                        <MudText
                                                            Color="@Color.Error">@context.Item.SetBrick.Count</MudText>
                                                    }
                                                </MudStack>
                                            </CellTemplate>
                                        </TemplateColumn>
                                        @* <TemplateColumn Title="Move Stock" Editable="false"> *@
                                        @*     <CellTemplate> *@
                                        @*         <MudStack Row Spacing="0"> *@
                                        @*             <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft" OnClick="() => MoveBrickStock(Direction.left, context.Item)"/> *@
                                        @*             <MudNumericField Variant="Variant.Outlined" Min="0" @bind-Value="context.Item.MoveCount"/> *@
                                        @*             <MudIconButton Icon="@Icons.Material.Filled.ArrowRight" OnClick="() => MoveBrickStock(Direction.right, context.Item)"/> *@
                                        @*         </MudStack> *@
                                        @*     </CellTemplate> *@
                                        @* </TemplateColumn> *@
                                        <TemplateColumn Title="Stock">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudText>@context.Item.SetBrick.Stock</MudText>
                                                </MudStack>
                                            </CellTemplate>
                                        </TemplateColumn>
                                    </Columns>
                                </MudDataGrid>
                            </MudCard>
                        </ChildRowContent>
                        <PagerContent>
                            <MudDataGridPager T="SetMinifigInfo"/>
                        </PagerContent>
                    </MudDataGrid>
                </MudTabPanel>
            </MudTabs>
        </MudItem>
    }
</MudGrid>

@code {
    [Parameter] public string? _setId { get; set; }
    [Parameter] public string? _setIndex { get; set; }
    
    private string _pageTitle = "Bill of Materials";

    private List<SetBrickInfo>? _setBrickInfo = new();
    private List<SetMinifigInfo>? _setMinifigInfo = new();
    private List<Set>? _sets = new();
    private List<SetOwned> _setsOwned = new();
    private string searchString;
    private bool _showMissing = false;

    private Set? _set;

    MudForm form;

    protected override async Task OnInitializedAsync()
    {
        var logger = LoggerFactory.CreateLogger<Minifig>();
        logger.LogTrace("Loading Bill of Materials");

        _setsOwned = new List<SetOwned>();

        using (var context = new InventoryContext())
        {
            var setBrickContext = context.Set<SetBrick>();
            var brickContext = context.Set<Brick>();
            var minifigContext = context.Set<Minifig>();
            var setMinifigContext = context.Set<SetMinifig>();
            var setOwnedContext = context.Set<SetOwned>();
            var setContext = context.Set<Set>();

            _setBrickInfo.Clear();
            _setMinifigInfo.Clear();

            if (_setId != null)
            {
                var setsOwned = setOwnedContext.Where(so => so.SetId == _setId).ToList();
                foreach (var setOwned in setsOwned)
                {
                    _setsOwned.Add(new SetOwned
                    {
                        SetId = setOwned.SetId,
                        SetIndex = setOwned.SetIndex
                    });
                }

                _pageTitle = $"{_setId} - Bill of Materials";
                StateHasChanged();

                if (_setIndex == null)
                    _setIndex = "0";
                
                if (_setIndex != null)
                {
                    var setIndex = _setIndex != null ? int.Parse(_setIndex) : 0;

                    _pageTitle = $"{_setId}-{_setIndex} - Bill of Materials";
                    StateHasChanged();

                    var setBricks = setBrickContext.Where(sb => sb.SetId == _setId && sb.SetIndex == setIndex).ToList();
                    foreach (var setBrick in setBricks)
                    {
                        _setBrickInfo.Add(new SetBrickInfo
                        {
                            Brick = brickContext.First(b => b.PartNum == setBrick.PartNum && b.ColorId == setBrick.ColorId),
                            SetBrick = setBrick
                        });
                    }

                    var setMinifigs = setMinifigContext.Where(sm => sm.SetId == _setId && sm.SetIndex == setIndex).ToList();
                    foreach (var setMinifig in setMinifigs)
                    {
                        _setMinifigInfo.Add(new SetMinifigInfo
                        {
                            Minifig = minifigContext.First(m => m.MinifigId == setMinifig.MinifigId),
                            SetMinifig = setMinifig
                        });
                    }

                    _set = setContext.First(s => s.SetId == _setId);
                }
            }

            _sets = setContext.ToList();
        }

        StateHasChanged();
        logger.LogTrace("Loading Sets Complete");
    }

    private void ChangeSet(Set set)
    {
        _setId = set.SetId;
        _set = set;

        navigationManager.NavigateTo($"/bom/{_setId}/0");

        _ = OnInitializedAsync();
    }


    private void ChangeIndex(SetOwned setOwned)
    {
        _setIndex = setOwned.SetIndex.ToString();

        navigationManager.NavigateTo($"/bom/{_setId}/{_setIndex}");

        _ = OnInitializedAsync();
    }

    private bool SetBrickFilterFunc(SetBrickInfo setBrickInfo) => SetBrickFilter(setBrickInfo);

    private bool SetBrickFilter(SetBrickInfo setBrickInfo)
    {
        if (_showMissing && setBrickInfo.SetBrick.Count <= setBrickInfo.SetBrick.Stock)
            return false;
        
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (setBrickInfo.Brick.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (setBrickInfo.Brick.PartNum.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (setBrickInfo.Brick.ColorName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        

        return false;
    }

    private bool SetMinifigFilterFunc(SetMinifigInfo setMinifigInfo) => SetMinifigFilter(setMinifigInfo);

    private bool SetMinifigFilter(SetMinifigInfo setMinifigInfo)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (setMinifigInfo.Minifig.MinifigName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (setMinifigInfo.Minifig.MinifigId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private Task OpenImagePopup(string id, string name, string imgUrl)
    {
        var imagePopup = new DialogOptions { CloseOnEscapeKey = true, BackdropClick = true };

        var parameters = new DialogParameters<ImagePopup>
        {
            { x => x._id, id },
            { x => x._name, name },
            { x => x._imgUrl, imgUrl }
        };

        return DialogService.ShowAsync<ImagePopup>("Image Popup", parameters, imagePopup);
    }

    private Task OpenColorPopup(string hex, string name)
    {
        var colorPopup = new DialogOptions { CloseOnEscapeKey = true, BackdropClick = true };

        var parameters = new DialogParameters<ColorPopup>
        {
            { x => x._hexColor, hex },
            { x => x._name, name },
        };

        return DialogService.ShowAsync<ColorPopup>("Color Popup", parameters, colorPopup);
    }

    private Task OpenErrorPopup(string errorMessage)
    {
        var errorPopup = new DialogOptions { CloseOnEscapeKey = true, BackdropClick = true };

        var parameters = new DialogParameters<ErrorPopup>
        {
            { x => x._errorMessage, errorMessage }
        };

        return DialogService.ShowAsync<ErrorPopup>("Error Popup", parameters, errorPopup);
    }

    void UpdateBrick(SetBrickInfo setBrickInfo)
    {
        UpdateData updateData = new UpdateData();

        if (setBrickInfo.SetBrick.Stock < 0 || setBrickInfo.Brick.Count < 0)
        {
            if (setBrickInfo.SetBrick.Stock < 0)
            {
                setBrickInfo.SetBrick.Stock = 0;
                OpenErrorPopup("Cannot set stock to less than 0");
            }

            if (setBrickInfo.Brick.Count < 0)
            {
                setBrickInfo.Brick.Count = 0;
                OpenErrorPopup("Cannot set inventory to less than 0");
            }

            return;
        }

        updateData.UpdateBrick(setBrickInfo.Brick);
        updateData.UpdateSetBrick(setBrickInfo.SetBrick);

        StateHasChanged();
    }

    void UpdateMinifig(SetMinifigInfo setMinifigInfo)
    {
        UpdateData updateData = new UpdateData();
        updateData.UpdateMinifig(setMinifigInfo.Minifig);
        updateData.UpdateSetMinifig(setMinifigInfo.SetMinifig);

        StateHasChanged();
    }

    void MoveBrickStock(Direction dir, SetBrickInfo setBrickInfo)
    {
        if (dir == Direction.left)
        {
            if (setBrickInfo.Brick.Count < setBrickInfo.MoveCount)
            {
                OpenErrorPopup("Lacking set stock to move inventory");
                return;
            }

            setBrickInfo.Brick.Count -= setBrickInfo.MoveCount;
            setBrickInfo.SetBrick.Stock += setBrickInfo.MoveCount;

            UpdateBrick(setBrickInfo);
        }
        else if (dir == Direction.right)
        {
            if (setBrickInfo.SetBrick.Stock < setBrickInfo.MoveCount)
            {
                OpenErrorPopup("Lacking inventory to move set stock");
                return;
            }

            setBrickInfo.Brick.Count += setBrickInfo.MoveCount;
            setBrickInfo.SetBrick.Stock -= setBrickInfo.MoveCount;

            UpdateBrick(setBrickInfo);
        }
        else
        {
            throw new Exception();
        }
    }

    void MoveMinifigStock(Direction dir, SetMinifigInfo setMinifigInfo)
    {
        if (dir == Direction.left)
        {
            setMinifigInfo.Minifig.Stock -= setMinifigInfo.MoveCount;
            setMinifigInfo.SetMinifig.Stock += setMinifigInfo.MoveCount;

            UpdateMinifig(setMinifigInfo);
        }
        else if (dir == Direction.right)
        {
            setMinifigInfo.Minifig.Stock += setMinifigInfo.MoveCount;
            setMinifigInfo.SetMinifig.Stock -= setMinifigInfo.MoveCount;

            UpdateMinifig(setMinifigInfo);
        }
        else
        {
            throw new Exception();
        }
    }

    enum Direction
    {
        left,
        right
    }

    public bool IsDark(string hex)
    {
        System.Drawing.Color color = ColorTranslator.FromHtml($"#{hex}");

        int r = Convert.ToInt16(color.R);
        int g = Convert.ToInt16(color.G);
        int b = Convert.ToInt16(color.B);

        return 0.2126 * r + 0.7152 * g + 0.0722 * b < 128;
    }

    protected void OpenBuildingInstructions(string url)
    {
        JSRuntime.InvokeVoidAsync("open", url, "_blank");
    }

    public List<SetBrickInfo> GetMinifigBricks(Minifig minifig)
    {
        using (var context = new InventoryContext())
        {
            var minifigBrickContext = context.Set<MinifigBrick>();
            var setBrickContext = context.Set<SetBrick>();
            var brickContext = context.Set<Brick>();

            var minifigBricks = minifigBrickContext.Where(mb => mb.MinifigID == minifig.MinifigId).ToList();

            List<SetBrickInfo> setBrickInfo = new();

            foreach (var minifigBrick in minifigBricks)
            {
                setBrickInfo.Add(new SetBrickInfo
                {
                    Brick = brickContext.First(b => b.PartNum == minifigBrick.BrickID && b.ColorId == minifigBrick.ColorId),
                    SetBrick = setBrickContext.First(sb => sb.SetId == _setId && sb.PartNum == minifigBrick.BrickID && sb.ColorId == minifigBrick.ColorId)
                });
            }

            return setBrickInfo;
        }
    }

    public class SetBrickInfo
    {
        public SetBrick SetBrick { get; set; }

        public Brick Brick { get; set; }

        public int MoveCount { get; set; } = 0;
    }

    public class SetMinifigInfo
    {
        public Minifig Minifig { get; set; }

        public SetMinifig SetMinifig { get; set; }

        public int MoveCount { get; set; } = 0;
    }

}