@page "/bricks"
@using System.Drawing
@using System.Text.Json.Nodes
@using LEGO_Inventory.Database
@using MudBlazor.Extensions
@using MudBlazor.Utilities
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size
@rendermode InteractiveServer

<PageTitle>Bricks</PageTitle>

<h1>Bricks</h1>

<MudGrid>
    <MudItem xs="12">
        @* <MudTextField xs="6" T="String" Label="Brick ID" Required="true" @bind-Value="_brickId"></MudTextField> *@
        @* <MudButton xs="6" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => ImportBrick())">Import Brick</MudButton> *@

    </MudItem>
    @* <MudItem xs="12"> *@
    @*     <MudTable Items="@_bricks.OrderBy(b => b.PartNum)" Hover="true" SortLabel="Sort By" *@
    @*               Filter="new Func<Brick, bool>(BrickFilterFunc)"> *@
    @*         <ToolBarContent> *@
    @*             <MudText Typo="Typo.h6">Brick List</MudText> *@
    @*             <MudSpacer/> *@
    @*             <MudText Typo="Typo.body1">Total Bricks: @_bricks.Count</MudText> *@
    @*             <MudSpacer/> *@
    @*             <MudText Typo="Typo.body1">Unique Bricks: @_bricks.GroupBy(b => b.PartNum).Count()</MudText> *@
    @*             <MudSpacer/> *@
    @*             <MudText Typo="Typo.body1">Unique Colors: @_bricks.GroupBy(b => b.ColorId).Count()</MudText> *@
    @*             <MudSpacer/> *@
    @*             <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" *@
    @*                           AdornmentIcon="Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/> *@
    @*         </ToolBarContent> *@
    @*         <HeaderContent> *@
    @*             <MudTh> *@
    @*                 <MudText>Image</MudText> *@
    @*             </MudTh> *@
    @*             <MudTh> *@
    @*                 <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.PartNum)">Part Number</MudTableSortLabel> *@
    @*             </MudTh> *@
    @*             <MudTh> *@
    @*                 <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.Name)">Name</MudTableSortLabel> *@
    @*             </MudTh> *@
    @*             <MudTh> *@
    @*                 <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.ColorId)">Color</MudTableSortLabel> *@
    @*             </MudTh> *@
    @*             <MudTh> *@
    @*                 <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.ColorId)">RGB</MudTableSortLabel> *@
    @*             </MudTh> *@
    @*             <MudTh> *@
    @*                 <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.IsTrans)">Translucent</MudTableSortLabel> *@
    @*             </MudTh> *@
    @*             <MudTh> *@
    @*                 <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.Count)"># Pieces</MudTableSortLabel> *@
    @*             </MudTh> *@
    @*             <MudTh> *@
    @*                 <MudTableSortLabel SortBy="new Func<BrickInfo, object>(x => x.TotalCount)"># Needed *@
    @*                 </MudTableSortLabel> *@
    @*             </MudTh> *@
    @*             <MudTh> *@
    @*                 <MudTableSortLabel SortBy="new Func<BrickInfo, object>(x => x.SetCount)"># Sets</MudTableSortLabel> *@
    @*             </MudTh> *@
    @*         </HeaderContent> *@
    @*         <RowTemplate> *@
    @*             <MudTd DataLabel="Image"> *@
    @*                 <MudImage Src="@context.PartImg" Height="50"/> *@
    @*             </MudTd> *@
    @*             <MudTd DataLabel="Part Num" class="cursor-pointer">@context.PartNum</MudTd> *@
    @*             <MudTd DataLabel="Name" class="cursor-pointer">@context.Name</MudTd> *@
    @*             <MudTd DataLabel="Color" class="cursor-pointer">@context.ColorName</MudTd> *@
    @*             <MudTd DataLabel="Color" class="cursor-pointer"> *@
    @*                 <MudItem> *@
    @*                     <div class="mud-width-half rounded-circle pa-7" style="@($"background-color:{GetColor(context.RGB)};")"></div> *@
    @*                 </MudItem> *@
    @*             </MudTd> *@
    @*             <MudTd DataLabel="Translucent" class="cursor-pointer">@context.IsTrans</MudTd> *@
    @*             <MudTd DataLabel="Num Parts" class="cursor-pointer">@context.Count</MudTd> *@
    @*             <MudTd DataLabel="Num Needed" class="cursor-pointer">@GetBrickInfo(context).TotalCount</MudTd> *@
    @*             <MudTd DataLabel="In Sets" class="cursor-pointer">@GetBrickInfo(context).SetCount</MudTd> *@
    @*         </RowTemplate> *@
    @*         <PagerContent> *@
    @*             <MudTablePager PageSizeOptions="new[] { 10, 15, 20, 25, 50, 75, 100, int.MaxValue }"/> *@
    @*         </PagerContent> *@
    @*     </MudTable> *@
    @* </MudItem> *@

    <MudItem xs="12">
        <MudDataGrid T="BrickInfo" Items="@_brickInfos.OrderBy(b => b.Brick.PartNum)" 
                     SortMode="@SortMode.Multiple" EditMode="DataGridEditMode.Cell" 
                     CommittedItemChanges="@CommittedItemChanges"
                     ReadOnly="false">
            <Columns>
                <HierarchyColumn T="BrickInfo" ButtonDisabledFunc="@(info => info.Sets.Count < 0)"/>
                <TemplateColumn Title="Image" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudImage Src="@context.Item.Brick.PartImg" Height="50"/>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Brick.PartNum" Title="Part #" Editable="false"/>
                <PropertyColumn Property="x => x.Brick.Name" Title="Name" Editable="false"/>
                <TemplateColumn Title="Color" SortBy="x => x.Brick.ColorId" Sortable="true" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudText>@context.Item.Brick.ColorName</MudText>
                            @if (context.Item.Brick.RGB != null)
                            {
                                <MudSpacer/>
                                <div class="mud-width-half rounded-circle pa-7"
                                     style="@($"background-color:{GetColor(context.Item.Brick.RGB)};")"></div>
                            }
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Brick.Count" Title="Stock"/>
                <PropertyColumn Property="x => x.SetBricks.Sum(sb => sb.Count * x.Sets.First(s => s.SetId == sb.SetId).OwnCount)" Title="Needed" Editable="false"/>
                <PropertyColumn Property="x => x.Sets.Count" Title="In Sets" Editable="false"/>
            </Columns>
            <ChildRowContent>
                <MudCard>
                    <MudGrid>
                        @foreach (var set in context.Item.Sets)
                        {
                            <MudItem xs="3">
                                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                                    <MudItem>
                                        <MudText Align="Align.Center">@set.Name</MudText>
                                        <MudText Align="Align.Center">@set.SetId</MudText>
                                    </MudItem>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCard>
            </ChildRowContent>
            <PagerContent>
                <MudDataGridPager T="BrickInfo"/>
            </PagerContent>
        </MudDataGrid>
    </MudItem>
</MudGrid>

@code {
    private string? _brickId;
    private List<Brick>? _bricks;
    private List<SetBrick>? _setBricks;
    private List<BrickInfo>? _brickInfos = [];
    private string searchString;
    MudForm form;
    
    protected override async Task OnInitializedAsync()
    {
        using (var context = new InventoryContext())
        {
            var brickContext = context.Set<Brick>();
            var setBrickContext = context.Set<SetBrick>();
            _bricks = brickContext.ToList();
            _setBricks = setBrickContext.ToList();

            foreach (Brick brick in _bricks)
            {
                _brickInfos?.Add(new BrickInfo
                {
                    Brick = brick,
                    Sets = GetSets(_setBricks.Where(sb => sb.PartNum == brick.PartNum && sb.ColorId == brick.ColorId).Select(sb => sb.SetId).ToList()),
                    SetBricks = GetSetBricks(brick)
                });
            }
        }

        StateHasChanged();
    }

    private string GetColor(string rgb)
    {
        return "#" + rgb;
    }

    private bool DeleteBrick(Brick brick)
    {
        DeleteData deleteData = new DeleteData();

        if (!deleteData.DeleteBricks(brick.PartNum, brick.ColorId))
        {
            throw new Exception("Brick not deleted");
        }

        return true;
    }

    private List<Set> GetSets(List<string> setIds)
    {
        using (var context = new InventoryContext())
        {
            var setContext = context.Set<Set>();

            return setContext.Where(s => setIds.Contains(s.SetId)).ToList();
        }
    }

    private List<SetBrick> GetSetBricks(Brick brick)
    {
        using (var context = new InventoryContext())
        {
            var setBrickContext = context.Set<SetBrick>();

            return setBrickContext.Where(sb =>
                    sb.PartNum == brick.PartNum &&
                    sb.ColorId == brick.ColorId)
                .ToList();
        }
    }


    private bool BrickFilterFunc(Brick brick) => BrickFilter(brick, searchString);

    private bool BrickFilter(Brick brick, string searchString)
    {
        if (string.IsNullOrWhiteSpace(this.searchString))
            return true;
        if (brick.Name.Contains(this.searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brick.PartNum.Contains(this.searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brick.ColorId.Contains(this.searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brick.ColorName.Contains(this.searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
    
    // events
   void CommittedItemChanges(BrickInfo item)
   {
       Console.WriteLine(item.Brick.Count);

       using (var context = new InventoryContext())
       {
           var brickContext = context.Set<Brick>();

           brickContext.First(b => b == item.Brick).Count = item.Brick.Count;

           context.SaveChanges();
       }
   }

    private class BrickInfo
    {
        public Brick Brick { get; set; }

        public List<Set> Sets { get; set; }

        public List<SetBrick> SetBricks { get; set; }
    }

}