@page "/bricks"
@using System.Drawing
@using System.Text.Json.Nodes
@using LEGO_Inventory.Database
@using MudBlazor.Extensions
@using MudBlazor.Utilities
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size
@rendermode InteractiveServer

<PageTitle>Bricks</PageTitle>

<h1>Bricks</h1>

<MudGrid>
    <MudItem xs="12">
        @* <MudTextField xs="6" T="String" Label="Brick ID" Required="true" @bind-Value="_brickId"></MudTextField> *@
        @* <MudButton xs="6" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => ImportBrick())">Import Brick</MudButton> *@

    </MudItem>
    <MudItem xs="12">
        <MudTable Items="@_bricks.OrderBy(b => b.PartNum)" Hover="true" SortLabel="Sort By"
                  Filter="new Func<Brick, bool>(BrickFilterFunc)">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Set List</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.body1">Total Bricks: @_bricks.Count</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.body1">Unique Bricks: @_bricks.GroupBy(b => b.PartNum).Count()</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.body1">Unique Colors: @_bricks.GroupBy(b => b.ColorId).Count()</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                              AdornmentIcon="Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>
                    <MudText>Image</MudText>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.PartNum)">Part Number</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.ColorId)">Color</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.ColorId)">RGB</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.Name)">Name
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.IsTrans)">Translucent</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Brick, object>(x => x.Count)"># Pieces</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<BrickInfo, object>(x => x.TotalCount)"># Needed
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<BrickInfo, object>(x => x.SetCount)"># Sets</MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Image">
                    <MudImage Src="@context.PartImg" Height="50"/>
                </MudTd>
                <MudTd DataLabel="Part Num" class="cursor-pointer">@context.PartNum</MudTd>
                <MudTd DataLabel="Color" class="cursor-pointer">@context.ColorName</MudTd>
                <MudTd DataLabel="Color" class="cursor-pointer">
                    @* <MudColorPicker PickerVariant="PickerVariant.Static" ColorPickerView="ColorPickerView.Palette" Palette="GetColor(context.RGB)"/> *@
                    <MudItem>

                        <div class="mud-width-half rounded-circle pa-7" style="@($"background-color:{GetColor(context.RGB)};")"></div>
                    </MudItem>
                </MudTd>
                <MudTd DataLabel="Name" class="cursor-pointer">@context.Name</MudTd>
                <MudTd DataLabel="Translucent" class="cursor-pointer">@context.IsTrans</MudTd>
                <MudTd DataLabel="Num Parts" class="cursor-pointer">@context.Count</MudTd>
                <MudTd DataLabel="Num Needed" class="cursor-pointer">@GetBrickInfo(context).TotalCount</MudTd>
                <MudTd DataLabel="In Sets" class="cursor-pointer">@GetBrickInfo(context).SetCount</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new[] { 10, 15, 20, 25, 50, 75, 100, int.MaxValue }"/>
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {
    private string? _brickId;
    private List<Brick>? _bricks;
    private List<SetBrick>? _setBricks;
    private string searchString;
    MudForm form;


    protected override async Task OnInitializedAsync()
    {
        using (var context = new InventoryContext())
        {
            var brickContext = context.Set<Brick>();
            var setBrickContext = context.Set<SetBrick>();
            _bricks = brickContext.ToList();
            _setBricks = setBrickContext.ToList();
        }

        StateHasChanged();
    }

    private string GetColor(string rgb)
    {
       return "#"+rgb;
    }

    private BrickInfo GetBrickInfo(Brick brick)
    {
        BrickInfo brickInfo = new BrickInfo
        {
            SetCount = _setBricks.Count(sb => sb.PartNum == brick.PartNum && sb.ColorId == brick.ColorId),
            TotalCount = _setBricks.Where(sb => sb.PartNum == brick.PartNum && sb.ColorId == brick.ColorId).Sum(sb => sb.Count)
        };

        return brickInfo;
    }


    private bool BrickFilterFunc(Brick brick) => BrickFilter(brick, searchString);

    private bool BrickFilter(Brick brick, string searchString)
    {
        if (string.IsNullOrWhiteSpace(this.searchString))
            return true;
        if (brick.Name.Contains(this.searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brick.PartNum.Contains(this.searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brick.ColorId.Contains(this.searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brick.ColorName.Contains(this.searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private class BrickInfo
    {
        public int SetCount { get; set; }

        public int TotalCount { get; set; }
    }

}