@page "/bricks"
@inject ILoggerFactory LoggerFactory
@inject IDialogService DialogService
@using LEGO_Inventory.Components.Objects
@using LEGO_Inventory.Database
@using Size = MudBlazor.Size
@rendermode InteractiveServer

<PageTitle>Bricks</PageTitle>

<h1>Bricks</h1>

<MudGrid>
    <MudItem xs="12">
        @* <MudTextField xs="6" T="String" Label="Brick ID" Required="true" @bind-Value="_brickId"></MudTextField> *@
        @* <MudButton xs="6" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => ImportBrick())">Import Brick</MudButton> *@
    </MudItem>

    <MudItem xs="12">
        <MudDataGrid T="BrickInfo" Items="@_brickInfos.OrderBy(b => b.Brick.PartNum)"
                     SortMode="@SortMode.Multiple" EditMode="DataGridEditMode.Cell"
                     CommittedItemChanges="@CommittedItemChanges" QuickFilter="BrickFilterFunc"
                     ReadOnly="false">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Bricks</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                              Immediate="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                <HierarchyColumn T="BrickInfo" ButtonDisabledFunc="@(info => info.Sets.Count < 0)"/>
                <TemplateColumn Title="Image" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudImage class="cursor-pointer" Src="@context.Item.Brick.PartImg" Height="50"
                                      @onclick="((e) => OpenImagePopup(context.Item.Brick.PartNum, context.Item.Brick.Name, context.Item.Brick.PartImg))"/>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Brick.PartNum" Title="Part #" Editable="false"/>
                <PropertyColumn Property="x => x.Brick.Name" Title="Name" Editable="false"/>
                <TemplateColumn Title="Color" SortBy="x => x.Brick.ColorId" Sortable="true" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudText>@context.Item.Brick.ColorName</MudText>
                            @if (context.Item.Brick.HexColor != null)
                            {
                                <MudSpacer/>
                                
                            }
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Brick.Count" Title="Stock"/>
                @* <PropertyColumn Property="x => x.SetBricks.Sum(sb => sb.Count * x.Sets.First(s => s.SetId == sb.SetId).OwnCount)" Title="Needed" Editable="false"/> *@
                <PropertyColumn Property="x => x.Sets.Count" Title="In Sets" Editable="false"/>
                <TemplateColumn Title="Delete" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudIconButton
                                Icon="@Icons.Material.Filled.Delete"
                                Variant="Variant.Filled"
                                Color="Color.Error"
                                Size="Size.Small"
                                OnClick="() => DeleteBrick(context.Item.Brick)"
                            />
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <ChildRowContent>
                <MudCard>
                    <MudGrid>
                        @foreach (var set in GetSets(context.Item.Sets))
                        {
                            <MudItem xs="3">
                                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                                    <MudItem>
                                        <MudText Align="Align.Center">@set.Name</MudText>
                                        <MudText Align="Align.Center">@set.SetId</MudText>
                                    </MudItem>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCard>
            </ChildRowContent>
            <PagerContent>
                <MudDataGridPager T="BrickInfo"/>
            </PagerContent>
        </MudDataGrid>
    </MudItem>
</MudGrid>

@code {
    private string? _brickId;
    private List<BrickInfo>? _brickInfos = [];
    private string searchString;
    MudForm form;

    protected override async Task OnInitializedAsync()
    {
        var logger = LoggerFactory.CreateLogger<Bricks>();
        logger.LogTrace("Loading Bricks");
        using (var context = new InventoryContext())
        {
            var brickContext = context.Set<Brick>();

            foreach (Brick brick in brickContext.ToList())
            {
                var setBricks = GetSetBricks(brick);

                _brickInfos?.Add(new BrickInfo
                {
                    Brick = brick,
                    Sets = setBricks.Select(sb => sb.SetId).ToList(),
                    SetBricks = setBricks,
                });
            }
        }

        StateHasChanged();
        logger.LogTrace("Loading Bricks Complete");
    }

    private List<Set> GetSets(List<string> setIds)
    {
        using (var context = new InventoryContext())
        {
            var setContext = context.Set<Set>();

            return setContext.Where(s => setIds.Contains(s.SetId)).ToList();
        }
    }
    
    private List<SetBrick> GetSetBricks(Brick brick)
    {
        using (var context = new InventoryContext())
        {
            var setBrickContext = context.Set<SetBrick>();

            return setBrickContext.Where(sb =>
                    sb.PartNum == brick.PartNum &&
                    sb.ColorId == brick.ColorId)
                .ToList();
        }
    }

    private bool BrickFilterFunc(BrickInfo brick) => BrickFilter(brick);

    private bool BrickFilter(BrickInfo brickInfo)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (brickInfo.Brick.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brickInfo.Brick.PartNum.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brickInfo.Brick.ColorId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brickInfo.Brick.ColorName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brickInfo.Sets.Any(s => s.Contains(searchString, StringComparison.OrdinalIgnoreCase)))
            return true;
        return false;
    }

    private Task OpenImagePopup(string brickId, string brickName, string brickImgUrl)
    {
        var imagePopup = new DialogOptions { CloseOnEscapeKey = true, BackdropClick = true };

        var parameters = new DialogParameters<ImagePopup>
        {
            { x => x._id, brickId },
            { x => x._name, brickName },
            { x => x._imgUrl, brickImgUrl }
        };

        return DialogService.ShowAsync<ImagePopup>("Image Popup", parameters, imagePopup);
    }

    void CommittedItemChanges(BrickInfo brick)
    {
        UpdateData updateData = new UpdateData();
        updateData.UpdateBrick(brick.Brick);
    }

    private class BrickInfo
    {
        public Brick Brick { get; set; }

        public List<string> Sets { get; set; }

        public List<SetBrick> SetBricks { get; set; }
    }

    private void DeleteBrick(Brick brick)
    {
        DeleteData deleteData = new DeleteData();

        deleteData.DeleteBricks(brick.PartNum, brick.ColorId);

        OnInitializedAsync();
    }

}