@page "/bricks"
@inject ILoggerFactory LoggerFactory
@inject IDialogService DialogService
@using System.Drawing
@using LEGO_Inventory.Components.Objects
@using LEGO_Inventory.Database
@using Color = MudBlazor.Color
@using BrickColor = Color
@using Size = MudBlazor.Size
@rendermode InteractiveServer

<PageTitle>Bricks</PageTitle>

<h1>Bricks</h1>

<MudGrid>
    <MudItem xs="4">
        <MudTextField xs="6" T="String" Label="Brick ID" Required="true" @bind-Value="_brickId"></MudTextField>
    </MudItem>
    <MudItem xs="4">
        <MudSelect xs="6" T="BrickColor"
                   Variant="Variant.Outlined"
                   Dense="true"
                   ValueChanged="ChangeColor"
                   >
            @foreach (var color in _colors.OrderBy(c => c.Name))
            {
                <MudSelectItem Value="@color">
                    @if (IsDark(color.Hex))
                    {
                        <MudChip
                            T="string"
                            class="mud-elevation-2"
                            Style="@($"background-color: {"#" + color.Hex}; width: -moz-available;")">@color.Name - @color.Id</MudChip>
                    }
                    else
                    {
                        <MudChip
                            T="string"
                            class="mud-elevation-2"
                            Style="@($"background-color: {"#" + color.Hex}; color: #202020; width: -moz-available;")">@color.Name - @color.Id</MudChip>
                    }
                </MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="2">
        <MudButton xs="6" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => ImportBrick())">
            Import Brick
        </MudButton>
    </MudItem>
    <MudItem xs="2">
        <MudButton Variant="Variant.Filled" OnClick="() => ImportColors()" Color="Color.Info">Import ALL Colors</MudButton>
    </MudItem>

    <MudItem xs="12">
        <MudDataGrid T="BrickInfo" Items="@_brickInfos.OrderBy(b => b.Brick.PartNum)"
                     SortMode="@SortMode.Multiple" EditMode="DataGridEditMode.Cell"
                     CommittedItemChanges="@CommittedItemChanges" QuickFilter="BrickFilterFunc"
                     ReadOnly="false">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Total Bricks: @_brickInfos.Count</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.h6">In Stock: @_brickInfos.Sum(bi => bi.Brick.Count)</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.h6">Total Needed: @_brickInfos.Sum(bi => bi.SetBricks.Sum(sb => sb.Count))</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                              Immediate="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                <HierarchyColumn T="BrickInfo" ButtonDisabledFunc="@(info => info.Sets.Count < 0)"/>
                <TemplateColumn Title="Image" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudImage class="cursor-pointer rounded-3" Elevation="2" Src="@context.Item.Brick.PartImg"
                                      Height="50"
                                      @onclick="((e) => OpenImagePopup(context.Item.Brick.PartNum, context.Item.Brick.Name, context.Item.Brick.PartImg))"/>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Brick.PartNum" Title="Brick Id" Editable="false"/>
                <PropertyColumn Property="x => x.Brick.Name" Title="Name" Editable="false"/>
                <TemplateColumn Title="Color" SortBy="x => x.Brick.ColorId" Sortable="true" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            @if (context.Item.Brick.HexColor != null)
                            {
                                @if (IsDark(context.Item.Brick.HexColor))
                                {
                                    <MudChip
                                        OnClick="() => OpenColorPopup(context.Item.Brick.HexColor, context.Item.Brick.ColorName)"
                                        class="mud-elevation-2"
                                        Style="@($"background-color: {"#" + context.Item.Brick.HexColor}; width: -moz-available;")">@context.Item.Brick.ColorName</MudChip>
                                }
                                else
                                {
                                    <MudChip
                                        OnClick="() => OpenColorPopup(context.Item.Brick.HexColor, context.Item.Brick.ColorName)"
                                        class="mud-elevation-2"
                                        Style="@($"background-color: {"#" + context.Item.Brick.HexColor}; color: #202020; width: -moz-available;")">@context.Item.Brick.ColorName</MudChip>
                                }
                            }
                            else
                            {
                                <MudChip Color="default">N/A</MudChip>
                            }
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Brick.Count" Title="Stock"/>
                <PropertyColumn Property="x => x.SetBricks.Sum(sb => sb.Count)" Title="Needed" Editable="false"/>
                <PropertyColumn Property="x => x.Sets.Count" Title="In Sets" Editable="false"/>
                <TemplateColumn Title="Delete" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudIconButton
                                Icon="@Icons.Material.Filled.Delete"
                                Variant="Variant.Filled"
                                Color="Color.Error"
                                Size="Size.Small"
                                OnClick="() => DeleteBrick(context.Item.Brick)"
                            />
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <ChildRowContent Context="brickContext">
                <MudCard>
                    <MudDataGrid T="Set" Items="GetSets(brickContext.Item.Sets).OrderBy(s => s.SetId)">
                        <Columns>
                            <TemplateColumn Title="Image">
                                <CellTemplate>
                                    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.Center">
                                        <MudImage class="cursor-pointer rounded-3" Elevation="2"
                                                  Src="@context.Item.SetImg" Height="50"
                                                  @onclick="((e) => OpenImagePopup(context.Item.SetId, context.Item.Name, context.Item.SetImg))"/>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Title="Set Id" Property="x => x.SetId"/>
                            <PropertyColumn Title="Name" Property="x => x.Name"/>
                            <TemplateColumn Title="Needed">
                                <CellTemplate>
                                    <MudStack Row>
                                        <MudText>@brickContext.Item.SetBricks.First(sb => sb.SetId == context.Item.SetId).Count</MudText>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <TemplateColumn Title="Stock">
                                <CellTemplate>
                                    <MudStack Row>
                                        <MudText>@brickContext.Item.SetBricks.First(sb => sb.SetId == context.Item.SetId).Stock</MudText>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                            <TemplateColumn Title="BoM" Editable="false">
                                <CellTemplate>
                                    <MudStack Row>
                                        <MudIconButton href=@($"/bom/{context.Item.SetId}")
                                                       Icon="@Icons.Material.Filled.List"
                                                       Variant="Variant.Filled" Color="Color.Primary"
                                                       Size="Size.Small"></MudIconButton>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                    </MudDataGrid>
                </MudCard>
            </ChildRowContent>
            <PagerContent>
                <MudDataGridPager T="BrickInfo"/>
            </PagerContent>
        </MudDataGrid>
    </MudItem>
</MudGrid>

@code {
    private string? _brickId;
    private BrickColor _color { get; set; }
    private List<BrickInfo>? _brickInfos = [];
    private List<BrickColor>? _colors = [];
    private string searchString;
    MudForm form;

    protected override async Task OnInitializedAsync()
    {
        var logger = LoggerFactory.CreateLogger<Bricks>();
        logger.LogTrace("Loading Bricks");
        using (var context = new InventoryContext())
        {
            var brickContext = context.Set<Brick>();
            var colorContext = context.Set<BrickColor>();

            _colors = colorContext.ToList();

            foreach (Brick brick in brickContext.ToList())
            {
                var setBricks = GetSetBricks(brick);

                _brickInfos?.Add(new BrickInfo
                {
                    Brick = brick,
                    Sets = setBricks.Select(sb => sb.SetId).ToList(),
                    SetBricks = setBricks,
                });
            }
        }

        StateHasChanged();
        logger.LogTrace("Loading Bricks Complete");
    }

    private List<Set> GetSets(List<string> setIds)
    {
        using (var context = new InventoryContext())
        {
            var setContext = context.Set<Set>();

            return setContext.Where(s => setIds.Contains(s.SetId)).ToList();
        }
    }

    private List<SetBrick> GetSetBricks(Brick brick)
    {
        using (var context = new InventoryContext())
        {
            var setBrickContext = context.Set<SetBrick>();

            return setBrickContext.Where(sb =>
                    sb.PartNum == brick.PartNum &&
                    sb.ColorId == brick.ColorId)
                .ToList();
        }
    }

    private bool BrickFilterFunc(BrickInfo brick) => BrickFilter(brick);

    private bool BrickFilter(BrickInfo brickInfo)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (brickInfo.Brick.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brickInfo.Brick.PartNum.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brickInfo.Brick.ColorId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brickInfo.Brick.ColorName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (brickInfo.Sets.Any(s => s.Contains(searchString, StringComparison.OrdinalIgnoreCase)))
            return true;
        return false;
    }

    private Task OpenImagePopup(string brickId, string brickName, string brickImgUrl)
    {
        var imagePopup = new DialogOptions { CloseOnEscapeKey = true, BackdropClick = true };

        var parameters = new DialogParameters<ImagePopup>
        {
            { x => x._id, brickId },
            { x => x._name, brickName },
            { x => x._imgUrl, brickImgUrl }
        };

        return DialogService.ShowAsync<ImagePopup>("Image Popup", parameters, imagePopup);
    }

    void CommittedItemChanges(BrickInfo brick)
    {
        UpdateData updateData = new UpdateData();
        updateData.UpdateBrick(brick.Brick);
    }

    private class BrickInfo
    {
        public Brick Brick { get; set; }

        public List<string> Sets { get; set; }

        public List<SetBrick> SetBricks { get; set; }
    }

    private void DeleteBrick(Brick brick)
    {
        DeleteData deleteData = new DeleteData();

        deleteData.DeleteBricks(brick.PartNum, brick.ColorId);

        OnInitializedAsync();
    }

    public bool IsDark(string hex)
    {
        System.Drawing.Color color = ColorTranslator.FromHtml($"#{hex}");

        int r = Convert.ToInt16(color.R);
        int g = Convert.ToInt16(color.G);
        int b = Convert.ToInt16(color.B);

        return 0.2126 * r + 0.7152 * g + 0.0722 * b < 128;
    }

    private Task OpenColorPopup(string hex, string name)
    {
        var colorPopup = new DialogOptions { CloseOnEscapeKey = true, BackdropClick = true };

        var parameters = new DialogParameters<ColorPopup>
        {
            { x => x._hexColor, hex },
            { x => x._name, name },
        };

        return DialogService.ShowAsync<ColorPopup>("Color Popup", parameters, colorPopup);
    }

    private void ChangeColor(BrickColor color)
    {
        _color = color;
    }

    private void ImportBrick()
    {
        ImportData importData = new ImportData();
        
        if(_brickId != null)
            importData.ImportBrick(_brickId, _color.Id);

        OnInitializedAsync();
    }

    private void ImportColors()
    {
        ImportData importData = new ImportData();

        importData.ImportColors();

        OnInitializedAsync();
    }

}