@page "/minifigs"
@inject ILoggerFactory LoggerFactory
@inject IDialogService DialogService
@using System.Drawing
@using LEGO_Inventory.Components.Objects
@using LEGO_Inventory.Database
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size
@rendermode InteractiveServer

<PageTitle>@_pageTitle</PageTitle>

<MudText Typo="Typo.h4" Class="mb-4" Style="font-weight: 700;">Minifigs</MudText>

<MudGrid>
    <MudItem xs="12">
        <MudDataGrid T="MinifigInfo" Items="@_minifigInfos.OrderBy(m => m.Minifig.MinifigId)"
                     SortMode="@SortMode.Multiple" EditMode="DataGridEditMode.Cell"
                     QuickFilter="MinifigFilterFunc"
                     ReadOnly="false">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Total Minifigs: @_minifigInfos.Count</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                              Immediate="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mt-0"/>
            </ToolBarContent>
            <Columns>
                <HierarchyColumn T="MinifigInfo" ButtonDisabledFunc="@(info => info.PartCount == 0)"/>
                <TemplateColumn Title="Image" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudImage class="cursor-pointer rounded-3" Elevation="2"
                                      Src="@context.Item.Minifig.MinifigImgUrl" Height="50"
                                      @onclick="() => OpenImagePopup(context.Item.Minifig.MinifigId, context.Item.Minifig.MinifigName, context.Item.Minifig.MinifigImgUrl)"/>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.Minifig.MinifigId" Title="Id" Editable="false"/>
                <PropertyColumn Property="x => x.Minifig.MinifigName" Title="Name" Editable="false"/>
                <PropertyColumn Property="x => x.PartCount" Title="Parts" Editable="false"/>
            </Columns>

            <ChildRowContent Context="minifigContext">
                <div class="child-row-content">
                @if (!minifigContext.Item.IsLoaded)
                {
                    <MudCard>
                        <MudCardContent>
                            <MudText>Loading parts...</MudText>
                        </MudCardContent>
                    </MudCard>
                    {
                        _ = LoadMinifigBricksAsync(minifigContext.Item);
                    }
                }
                else if (minifigContext.Item.Bricks.Any())
                {
                    <MudCard>
                        <MudDataGrid T="BrickEntry" Items="minifigContext.Item.Bricks.OrderBy(b => b.Brick.PartNum)">
                            <Columns>
                                <TemplateColumn Title="Image" Editable="false">
                                    <CellTemplate>
                                        <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.Center">
                                            <MudImage class="cursor-pointer rounded-3" Elevation="2"
                                                      Src="@context.Item.Brick.PartImg" Height="50"
                                                      @onclick="() => OpenImagePopup(context.Item.Brick.PartNum, context.Item.Brick.Name, context.Item.Brick.PartImg)"/>
                                        </MudStack>
                                    </CellTemplate>
                                </TemplateColumn>
                                <PropertyColumn Title="Part Id" Property="x => x.Brick.PartNum"/>
                                <PropertyColumn Title="Name" Property="x => x.Brick.Name"/>
                                <TemplateColumn Title="Color" SortBy="x => x.Brick.ColorId" Sortable="true" Editable="false">
                                    <CellTemplate>
                                        <MudStack Row>
                                            @if (context.Item.Brick.HexColor != null)
                                            {
                                                @if (ColorHelper.IsDark(context.Item.Brick.HexColor))
                                                {
                                                    <MudChip T="string"
                                                        OnClick="() => OpenColorPopup(context.Item.Brick.HexColor, context.Item.Brick.ColorName)"
                                                        class="mud-elevation-2"
                                                        Style="@($"background-color: {"#" + context.Item.Brick.HexColor}; color: white; width: -moz-available;")">@context.Item.Brick.ColorName</MudChip>
                                                }
                                                else
                                                {
                                                    <MudChip T="string"
                                                        OnClick="() => OpenColorPopup(context.Item.Brick.HexColor, context.Item.Brick.ColorName)"
                                                        class="mud-elevation-2"
                                                        Style="@($"background-color: {"#" + context.Item.Brick.HexColor}; color: #202020; width: -moz-available;")">@context.Item.Brick.ColorName</MudChip>
                                                }
                                            }
                                            else
                                            {
                                                <MudChip T="string" Color="Color.Default">N/A</MudChip>
                                            }
                                        </MudStack>
                                    </CellTemplate>
                                </TemplateColumn>
                                <PropertyColumn Title="Quantity" Property="x => x.Quantity"/>
                            </Columns>
                        </MudDataGrid>
                    </MudCard>
                }
                </div>
            </ChildRowContent>

            <PagerContent>
                <MudDataGridPager T="MinifigInfo"/>
            </PagerContent>
        </MudDataGrid>
    </MudItem>
</MudGrid>

@code {
    private string _pageTitle = "Minifigs";
    private List<MinifigInfo> _minifigInfos = [];
    private string searchString;

    protected override async Task OnInitializedAsync()
    {
        var logger = LoggerFactory.CreateLogger<Minifigs>();
        logger.LogTrace("Loading Minifigs");
        using (var context = new InventoryContext())
        {
            var minifigContext = context.Set<Minifig>();
            var minifigBrickContext = context.Set<MinifigBrick>();

            var partCounts = minifigBrickContext
                .GroupBy(mb => mb.MinifigID)
                .Select(g => new { MinifigId = g.Key, Count = g.Count() })
                .ToDictionary(x => x.MinifigId, x => x.Count);

            _minifigInfos.Clear();

            foreach (var minifig in minifigContext.ToList())
            {
                partCounts.TryGetValue(minifig.MinifigId, out var count);
                _minifigInfos.Add(new MinifigInfo
                {
                    Minifig = minifig,
                    MinifigBricks = new List<MinifigBrick>(),
                    Bricks = new List<BrickEntry>(),
                    PartCount = count,
                    IsLoaded = false
                });
            }
        }

        StateHasChanged();
        logger.LogTrace("Loading Minifigs Complete");
    }

    private async Task LoadMinifigBricksAsync(MinifigInfo minifigInfo)
    {
        if (!minifigInfo.IsLoaded)
        {
            await using var context = new InventoryContext();
            var minifigBrickContext = context.Set<MinifigBrick>();
            var brickContext = context.Set<Brick>();

            var joined = minifigBrickContext
                .AsNoTracking()
                .Where(mb => mb.MinifigID == minifigInfo.Minifig.MinifigId)
                .Join(brickContext.AsNoTracking(),
                    mb => new { PartNum = mb.BrickID, mb.ColorId },
                    b  => new { b.PartNum, b.ColorId },
                    (mb, b) => new { MinifigBrick = mb, Brick = b, mb.Quantity })
                .ToList();

            minifigInfo.MinifigBricks = joined.Select(e => e.MinifigBrick).ToList();
            minifigInfo.Bricks = joined
                .Select(e => new BrickEntry { Brick = e.Brick, Quantity = e.Quantity })
                .ToList();

            minifigInfo.IsLoaded = true;
            StateHasChanged();
        }
    }

    private bool MinifigFilterFunc(MinifigInfo info) => MinifigFilter(info);

    private bool MinifigFilter(MinifigInfo info)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (info.Minifig.MinifigId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (info.Minifig.MinifigName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private Task OpenImagePopup(string id, string name, string? imgUrl)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, BackdropClick = true };
        var parameters = new DialogParameters<ImagePopup>
        {
            { x => x._id, id },
            { x => x._name, name },
            { x => x._imgUrl, imgUrl }
        };
        return DialogService.ShowAsync<ImagePopup>("Image Popup", parameters, options);
    }

    private Task OpenColorPopup(string hex, string name)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, BackdropClick = true };
        var parameters = new DialogParameters<ColorPopup>
        {
            { x => x._hexColor, hex },
            { x => x._name, name },
        };
        return DialogService.ShowAsync<ColorPopup>("Color Popup", parameters, options);
    }


    private class MinifigInfo
    {
        public Minifig Minifig { get; set; }
        public List<MinifigBrick> MinifigBricks { get; set; }
        public List<BrickEntry> Bricks { get; set; }
        public int PartCount { get; set; }
        public bool IsLoaded { get; set; }
    }

    private class BrickEntry
    {
        public Brick Brick { get; set; }
        public int Quantity { get; set; }
    }
}
