@page "/sets"
@inject ILoggerFactory LoggerFactory
@inject IDialogService DialogService
@using LEGO_Inventory.Database
@rendermode InteractiveServer

<PageTitle>Sets</PageTitle>

<h1>Sets</h1>

<MudGrid>
    <MudItem xs="12">
        <MudTextField xs="6" T="String" Label="Set ID" Required="true" @bind-Value="_setId"></MudTextField>
        <MudButton xs="6" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => ImportSet())">Import Set
        </MudButton>
    </MudItem>

    <MudItem xs="12">
        <MudDataGrid T="Set" Items="@_sets.OrderBy(b => b.SetId)"
                     SortMode="@SortMode.Multiple" EditMode="DataGridEditMode.Cell"
                     CommittedItemChanges="@CommittedItemChanges" QuickFilter="SetFilterFunc"
                     ReadOnly="false">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Sets</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                              Immediate="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                @* <HierarchyColumn T="BrickInfo" ButtonDisabledFunc="@(info => info.Sets.Count < 0)"/> *@
                <TemplateColumn Title="Image" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudImage class="cursor-pointer" Src="@context.Item.SetImg" Height="50"
                                      @onclick="((e) => OpenImagePopup(context.Item.SetId, context.Item.Name, context.Item.SetImg))"/>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.SetId" Title="Set Id" Editable="false"/>
                <PropertyColumn Property="x => x.Name" Title="Name" Editable="false"/>
                <PropertyColumn Property="x => x.ReleaseYear" Title="Release Year" Editable="false"/>
                <PropertyColumn Property="x => x.OwnCount" Title="Owned"/>
                <PropertyColumn Property="x => x.BuildCount" Title="Built"/>
                <PropertyColumn Property="x => x.NumParts" Title="Pieces" Editable="false"/>
                <TemplateColumn Title="Delete" Editable="false">
                    <CellTemplate>
                        <MudStack Row>
                            <MudIconButton 
                                Icon="@Icons.Material.Filled.Delete" 
                                Variant="Variant.Filled"
                                Color="Color.Error"
                                Size="Size.Small"
                                OnClick="() => DeleteSet(context.Item.SetId)"
                                />
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            @* <ChildRowContent> *@
            @*     <MudCard> *@
            @*         <MudGrid> *@
            @*             @foreach (var set in context.Item.Sets) *@
            @*             { *@
            @*                 <MudItem xs="3"> *@
            @*                     <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"> *@
            @*                         <MudItem> *@
            @*                             <MudText Align="Align.Center">@set.Name</MudText> *@
            @*                             <MudText Align="Align.Center">@set.SetId</MudText> *@
            @*                         </MudItem> *@
            @*                     </MudPaper> *@
            @*                 </MudItem> *@
            @*             } *@
            @*         </MudGrid> *@
            @*     </MudCard> *@
            @* </ChildRowContent> *@
            <PagerContent>
                <MudDataGridPager T="Set"/>
            </PagerContent>
        </MudDataGrid>
    </MudItem>
</MudGrid>

@code {
    private string? _setId;
    private List<Set>? _sets;
    private string searchString;
    MudForm form;

    protected override async Task OnInitializedAsync()
    {
        var logger = LoggerFactory.CreateLogger<Sets>();
        logger.LogTrace("Loading Sets");
        using (var context = new InventoryContext())
        {
            var setContext = context.Set<Set>();

            _sets = setContext.ToList();
        }

        StateHasChanged();
        logger.LogTrace("Loading Sets Complete");
    }

    private void ImportSet()
    {
        ImportData importData = new ImportData();

        List<string> setIds = _setId.Split(null).ToList();

        foreach (string setId in setIds)
        {
            importData.ImportSetInfo(setId);
            importData.ImportSetParts(setId);
        }

        OnInitializedAsync();
    }

    private bool SetFilterFunc(Set set) => SetFilter(set);

    private bool SetFilter(Set set)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (set.SetId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (set.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private Task OpenImagePopup(string setId, string setName, string setImgUrl)
    {
        var imagePopup = new DialogOptions { CloseOnEscapeKey = true, BackdropClick = true };

        var parameters = new DialogParameters<ImagePopup>
        {
            { x => x._id, setId },
            { x => x._name, setName },
            { x => x._imgUrl, setImgUrl }
        };

        return DialogService.ShowAsync<ImagePopup>("Image Popup", parameters, imagePopup);
    }

    // events
    void CommittedItemChanges(Set set)
    {
        using (var context = new InventoryContext())
        {
            var sets = context.Set<Set>();

            Set temp = sets.First(s => s == set);

            temp.OwnCount = set.OwnCount;
            temp.BuildCount = set.BuildCount;

            context.SaveChanges();
        }
    }

    private void DeleteSet(string setId)
    {
        DeleteData deleteData = new DeleteData();

        deleteData.DeleteSetInfo(setId);

        OnInitializedAsync();
    }
}